@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-font {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.02em;
}

.body-font {
  font-family: 'Inter', sans-serif;
}
